<% layout('layouts/default.html', {title: '站点地图', libs: []}){ %>
<style type="text/css">
	h2 {padding-left:10px;text-align:center;}
	h3.title {padding:5px 5px;margin:15px 8px 10px;}
	.map{border:1px solid #c6d5e5;padding:10px 10px 0;margin:10px 8px 8px;border-radius:10px;}
	.map a{border:1px solid #dedede;padding:8px 15px;border-radius:5px;text-decoration:none;}
	.map a:hover{border:1px solid #bbb;background:#f1f1f1;}
	.map .dt{border:1px solid #ddd;padding:5px 10px;margin-bottom:10px;border-radius:10px;display:block;}
	.map .dd{padding:15px;margin:15px;border-radius:10px;}
	.map .dd a{margin-right:10px;}
</style>
<div class="row main">
	<h2>站点地图</h2>
	<#html:foreach items="${siteList()}" var="site">
		<h3 class="title breadcrumb">${site.siteName}</h3>
		<div class="map">
			<#html:foreach items="${categoryList(site.siteCode, '0', -1, '')}" var="category">
			<a class="dt" href="${category.url}" target="_blank">${category.categoryName}</a>
	    	<#html:set value="${categoryList(site.siteCode, category.categoryCode, -1, '')}" export="categoryList" />
		    	<#html:if test="${isNotEmpty(categoryList)}">
					<div class="dd">
						<#html:foreach items="${categoryList}" var="category">
				    		<a href="${category.url}" target="_blank">${category.categoryName}</a>
						</#html:foreach>
					</div>
				</#html:if>
			</#html:foreach>
		</div>
	</#html:foreach>
</div>
<% } %>
