node_modules
Thumbs.db
.DS_Store
.vercel
.turbo
.cache
dist

upgrade

# Test files
tests/server/static
tests/server/static/upload
coverage

# Local files
.local
.env.local
.env.*.local
.eslintcache

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
vite.config.ts.timestamp*

# IDE files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml
