*.class
**/target
**/classes
**/webapp/userfiles
**/transaction-logs
**/logs/*.log*
*.epoch
*.lic
.docker

.settings
.apt_generated
.factorypath
.classpath
.project
.vscode

.idea
*.ipr
*.iml
*.iws

.DS_Store
Thumbs.db
rebel.xml
