*.class
**/target
**/webapp/userfiles
**/WEB-INF/classes
**/transaction-logs
**/logs/*.log*
*.epoch
*.lic

.settings
.apt_generated
.factorypath
.classpath
.project
.vscode

.idea
*.ipr
*.iml
*.iws

.DS_Store
Thumbs.db
rebel.xml