/*=== MzTreeView Control Stylesheet ===*\
     Object: Stylesheet File for tree
    Version: 1.0
     Author: meizz
Last Update: 2006-06-22
\*=====================================*/

div.mztreeview
{
}
div.mztreeview td
{
    font-size: 9pt;
}
div.mztreeview img
{
    cursor: pointer;
    border: 0px none;
    vertical-align: middle;
}
div.mztreeview a
{
    font-size: 9pt;
    color: #333;
    text-decoration: none;
}

div.mztreeview a.selected
{
    /*color: #FFFFFF;
    background-color: #0A246A;*/
    font-weight:bold;
}
div.mztreeview a.operation
{
    color:#1B5AA2;
}
.hide
{
    display: none;
}

/******* tree node inputer *******/
#MzTreeInputer
{
    width: 100%;
    font-size: 12px;
    background-color: #D4D0C8;
}
#MzTreeInputer col.caption
{
    width: 60px;
    line-height: 20px;
    text-align: right;
    vertical-align: top;
    background-color: #EAEAEA;
}
#MzTreeInputer col.content
{
    background-color: #FFFFFF;
}
#MzTreeInputer #mtinputeroption
{
    color: #000080;
    cursor: pointer;
    text-decoration: underline;
}
#MzTreeInputer #mtinputerCheck
{
    width: 80px;
}
#MzTreeInputer input.text
{
    width: 80px;
    font-size: 12px;
    border: inset 1px #D4D0C8;
}
#MzTreeInputer select
{
    width: 80px;
}
