body{padding-top:50px;font-size:14px;}
body>.navbar{-webkit-transition:background-color .3s ease-in;transition:background-color .3s ease-in}
@media (min-width:768px){
	body>.navbar-transparent{background-color:transparent}
	body>.navbar-transparent .navbar-nav>.open>a{background-color:transparent!important}
}
#home{padding-top:0}
#home .navbar-brand{padding:13.5px 15px 12.5px}
#home .navbar-brand>img{display:inline;margin:0 10px;height:100%}
#banner{min-height:300px;border-bottom:none}
.table-of-contents{margin-top:1em}
.page-header h1{font-size:4em}
.bs-docs-section{margin-top:6em}
.bs-docs-section h1{padding-top:100px}
.bs-component{position:relative}
.bs-component .modal{position:relative;top:auto;right:auto;left:auto;bottom:auto;z-index:1;display:block}
.bs-component .modal-dialog{width:90%}
.bs-component .popover{position:relative;display:inline-block;width:220px;margin:20px}
#source-button{position:absolute;top:0;right:0;z-index:100;font-weight:700}
.nav-tabs{margin-bottom:15px}
.progress{margin-bottom:10px}
footer{margin:1.5em 0}
footer li{float:left;margin-right:1.5em;margin-bottom:1.5em}
footer p{clear:left;margin-bottom:0}
.splash{padding:9em 0 2em;background-color:#141d27;background-image:url(../img/bg.jpg);background-size:cover;background-attachment:fixed;color:#fff;text-align:center}
.splash .logo{width:160px}
.splash h1{font-size:3em}
.splash #social{margin:2em 0}
.splash .alert{margin:2em 0}
.section-tout{padding:4em 0 3em;border-bottom:1px solid rgba(0,0,0,.05);background-color:#eaf1f1}
.section-tout .fa{margin-right:.5em}
.section-tout p{margin-bottom:3em}
.section-preview{padding:4em 0 4em}
.section-preview .preview{margin-bottom:4em;background-color:#eaf1f1}
.section-preview .preview .image{position:relative}
.section-preview .preview .image:before{box-shadow:inset 0 0 0 1px rgba(0,0,0,.1);position:absolute;top:0;left:0;width:100%;height:100%;content:"";pointer-events:none}
.section-preview .preview .options{padding:1em 2em 2em;border:1px solid rgba(0,0,0,.05);border-top:none;text-align:center}
.section-preview .preview .options p{margin-bottom:2em}
.section-preview .dropdown-menu{text-align:left}
.section-preview .lead{margin-bottom:2em}
@media (max-width:767px){
	.section-preview .image img{width:100%}
}
.sponsor #carbonads{max-width:240px;margin:0 auto}
.sponsor .carbon-text{display:block;margin-top:1em;font-size:12px}
.sponsor .carbon-poweredby{float:right;margin-top:1em;font-size:10px}
@media (max-width:767px){
	.splash{padding-top:4em}
	.splash .logo{width:100px}
	.splash h1{font-size:2em}
	#banner{margin-bottom:2em;text-align:center}
}

.jumbotron {background:#f1f1f1;margin:48px auto;}
.panel-title small .more {padding-top:4px;}

.nav-search {margin-top:9px;}
.nav-search .form-control {height:30px;padding:5px;}
.nav-search .btn {height:31px;padding:5px 10px;}

.article-list {padding:5px;margin:0;}
.article-list li {list-style:none;padding:8px 0;}

.article-title {color:#555555;font-size:20px;text-align:center;border-bottom:1px solid #ddd;padding:15px 20px 20px 20px;margin-bottom:30px;}
.article-info {border-top:1px solid #ddd;padding:10px;margin:25px 0 0;}
.article-desc {padding:8px 10px 8px;margin:10px 20px 20px 35px;font-size:13px;}
.article-content {padding-top:10px;}

.pagination {margin:8px 0;display:block;/* text-align:center; */font-size:13px;} /* .pagination .controls a{border:0;} */
.pagination>li>a, .pagination>li>span {min-width:37px;text-align:center;padding:6px;border:1px solid #ddd;background:transparent;/* border-radius:3px; */}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {background:#eee;color:#333;border-color:#ddd}
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, 
.pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {cursor:default!important;color:#ccc;}
.pagination .controls {float:left;border:0;padding:7px 0 0 15px;color:#777;}
.pagination .controls input{border:0;width:22px;padding:0;margin:-3px 0 0 0;text-align:center;font-size:13px;background:transparent;box-shadow:none;}
