<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util" 
    xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd"
	default-lazy-init="true">

	<description>Spring Configuration</description>
	
    <!-- 加载配置属性文件（谁先加载，谁优先级越高，jeesite.yml的优先级高于jeesite-core.yml）-->
	<bean id="yamlProperties" class="org.springframework.beans.factory.config.YamlPropertiesFactoryBean">
		<property name="resources">
			<array><value>classpath:jeesite-core.yml</value>
			<value>classpath:jeesite.yml</value></array>
		</property>
	</bean>
	<context:property-placeholder properties-ref="yamlProperties" ignore-unresolvable="true"/>

	<!-- Spring Application Context Holder -->
	<bean id="springUtils" class="com.jeesite.common.utils.SpringUtils" lazy-init="false"></bean>
	
	<!-- 生成唯一性ID工具 -->
	<bean id="idGen" class="com.jeesite.common.idgen.IdGen" lazy-init="false"></bean>
	
	<!-- 数据库自动升级程序 -->
	<bean id="dbUpgrade" class="com.jeesite.common.db.DbUpgrade" lazy-init="false"></bean>
	
	<!-- 配置国际化资源文件路径 -->
	<bean id="messageSource" class="com.jeesite.common.i18n.I18nMessageSource"
			depends-on="springUtils">
	</bean>
	
	<!-- 基于Cookie和Session的本地化解析器 -->
	<bean id="localeResolver" class="com.jeesite.common.i18n.I18nLocaleResolver">
		<property name="defaultLocale" value="zh_CN" />
	</bean>
	
	<!-- 配置 JSR303 Bean Validator 定义 -->
	<bean id="beanValidator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
	</bean>

	<!-- 缓存配置 -->
	<bean id="ehCacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="classpath:${ehcache.configFile}" />
	</bean>
	
</beans>