<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:util="http://www.springframework.org/schema/util" 
    xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd"
	default-lazy-init="true">

	<description>Spring Redis Configuration</description>
	
    <!-- Druid Spring 监控拦截器 ，开启后部分@Transactional声明式事务会失效，暂时还没找到原因 -->
	<bean id="druidStatInterceptor" class="com.alibaba.druid.support.spring.stat.DruidStatInterceptor" />
	<bean id="druidStatPointcut" class="org.springframework.aop.support.JdkRegexpMethodPointcut" scope="prototype">
		<property name="patterns"><list>
			<value>com.jeesite..*.service..*.*</value>
		</list></property>
		<property name="excludedPatterns"><list>
			<value>com.jeesite..*.service..*Dao.*</value>
		</list></property>
	</bean>
	<aop:config proxy-target-class="true">
		<aop:advisor advice-ref="druidStatInterceptor" pointcut-ref="druidStatPointcut" />
	</aop:config>
	
</beans>