<%
var langTypeList = @DictUtils.getDictList('sys_lang_type');
if (langTypeList.~size > 1){
%>
<li class="dropdown user-menu mr5">
	<a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
		<i class="fa icon-globe"></i>
	</a>
	<ul class="dropdown-menu">
		<li class="mt5"></li>
		<% for(var dict in langTypeList){ %>
			<li><a href="${ctxPath}/lang/${dict.dictValue}">${dict.dictLabel}</a></li>
		<% } %>
		<li class="mt10"></li>
	</ul>
</li>
<% } %>