<% layout('/layouts/default.html', {title: '切换主题风格'}){ %>
<link rel="stylesheet" href="${ctxStatic}/icheck/1.0/square/blue.css?${_version}">
<style>
	.list-unstyled{margin:10px;}
	.full-opacity-hover{opacity:1;filter:alpha(opacity=1);border:1px solid #fff}
	.full-opacity-hover:hover{border:1px solid #f00;}
</style>
<ul class="list-unstyled clearfix">
	<li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-blue" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
	<div>
		<span style="display:block; width: 20%; float: left; height: 13px; background: #367fa9"></span><span class="bg-light-blue" style="display:block; width: 80%; float: left; height: 13px;"></span>
	</div>
	<div>
		<span style="display:block; width: 20%; float: left; height: 30px; background: #222d32"></span><span style="display:block; width: 80%; float: left; height: 30px; background: #f4f5f7"></span>
	</div>
	</a>
	<p class="text-center no-margin">
		蓝
	</p>
	</li>
	<li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-black" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
	<div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix">
		<span style="display:block; width: 20%; float: left; height: 13px; background: #fefefe"></span><span style="display:block; width: 80%; float: left; height: 13px; background: #fefefe"></span>
	</div>
	<div>
		<span style="display:block; width: 20%; float: left; height: 30px; background: #222"></span><span style="display:block; width: 80%; float: left; height: 30px; background: #f4f5f7"></span>
	</div>
	</a>
	<p class="text-center no-margin">
		白
	</p>
	</li>
	<li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-purple" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
	<div>
		<span style="display:block; width: 20%; float: left; height: 13px;" class="bg-purple-active"></span><span class="bg-purple" style="display:block; width: 80%; float: left; height: 13px;"></span>
	</div>
	<div>
		<span style="display:block; width: 20%; float: left; height: 30px; background: #222d32"></span><span style="display:block; width: 80%; float: left; height: 30px; background: #f4f5f7"></span>
	</div>
	</a>
	<p class="text-center no-margin">
		紫
	</p>
	</li>
	<li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-green" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
	<div>
		<span style="display:block; width: 20%; float: left; height: 13px;" class="bg-green-active"></span><span class="bg-green" style="display:block; width: 80%; float: left; height: 13px;"></span>
	</div>
	<div>
		<span style="display:block; width: 20%; float: left; height: 30px; background: #222d32"></span><span style="display:block; width: 80%; float: left; height: 30px; background: #f4f5f7"></span>
	</div>
	</a>
	<p class="text-center no-margin">
		绿
	</p>
	</li>
	<li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-red" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
	<div>
		<span style="display:block; width: 20%; float: left; height: 13px;" class="bg-red-active"></span><span class="bg-red" style="display:block; width: 80%; float: left; height: 13px;"></span>
	</div>
	<div>
		<span style="display:block; width: 20%; float: left; height: 30px; background: #222d32"></span><span style="display:block; width: 80%; float: left; height: 30px; background: #f4f5f7"></span>
	</div>
	</a>
	<p class="text-center no-margin">
		红
	</p>
	</li>
	<li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-yellow" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
	<div>
		<span style="display:block; width: 20%; float: left; height: 13px;" class="bg-yellow-active"></span><span class="bg-yellow" style="display:block; width: 80%; float: left; height: 13px;"></span>
	</div>
	<div>
		<span style="display:block; width: 20%; float: left; height: 30px; background: #222d32"></span><span style="display:block; width: 80%; float: left; height: 30px; background: #f4f5f7"></span>
	</div>
	</a>
	<p class="text-center no-margin">
		黄
	</p>
	</li>
	<li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-blue-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
	<div>
		<span style="display:block; width: 20%; float: left; height: 13px; background: #367fa9"></span><span class="bg-light-blue" style="display:block; width: 80%; float: left; height: 13px;"></span>
	</div>
	<div>
		<span style="display:block; width: 20%; float: left; height: 30px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 30px; background: #f4f5f7"></span>
	</div>
	</a>
	<p class="text-center no-margin" style="font-size: 12px">
		蓝灰
	</p>
	</li>
	<li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-black-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
	<div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix">
		<span style="display:block; width: 20%; float: left; height: 13px; background: #fefefe"></span><span style="display:block; width: 80%; float: left; height: 13px; background: #fefefe"></span>
	</div>
	<div>
		<span style="display:block; width: 20%; float: left; height: 30px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 30px; background: #f4f5f7"></span>
	</div>
	</a>
	<p class="text-center no-margin" style="font-size: 12px">
		白灰
	</p>
	</li>
	<li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-purple-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
	<div>
		<span style="display:block; width: 20%; float: left; height: 13px;" class="bg-purple-active"></span><span class="bg-purple" style="display:block; width: 80%; float: left; height: 13px;"></span>
	</div>
	<div>
		<span style="display:block; width: 20%; float: left; height: 30px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 30px; background: #f4f5f7"></span>
	</div>
	</a>
	<p class="text-center no-margin" style="font-size: 12px">
		紫灰
	</p>
	</li>
	<li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-green-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
	<div>
		<span style="display:block; width: 20%; float: left; height: 13px;" class="bg-green-active"></span><span class="bg-green" style="display:block; width: 80%; float: left; height: 13px;"></span>
	</div>
	<div>
		<span style="display:block; width: 20%; float: left; height: 30px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 30px; background: #f4f5f7"></span>
	</div>
	</a>
	<p class="text-center no-margin" style="font-size: 12px">
		绿灰
	</p>
	</li>
	<li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-red-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
	<div>
		<span style="display:block; width: 20%; float: left; height: 13px;" class="bg-red-active"></span><span class="bg-red" style="display:block; width: 80%; float: left; height: 13px;"></span>
	</div>
	<div>
		<span style="display:block; width: 20%; float: left; height: 30px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 30px; background: #f4f5f7"></span>
	</div>
	</a>
	<p class="text-center no-margin" style="font-size: 12px">
		红灰
	</p>
	</li>
	<li style="float:left; width: 33.33333%; padding: 5px;"><a href="javascript:void(0)" data-skin="skin-yellow-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
	<div>
		<span style="display:block; width: 20%; float: left; height: 13px;" class="bg-yellow-active"></span><span class="bg-yellow" style="display:block; width: 80%; float: left; height: 13px;"></span>
	</div>
	<div>
		<span style="display:block; width: 20%; float: left; height: 30px; background: #f9fafc"></span><span style="display:block; width: 80%; float: left; height: 30px; background: #f4f5f7"></span>
	</div>
	</a>
	<p class="text-center no-margin" style="font-size: 12px">
		黄灰
	</p>
	</li>
	<li style="text-align:center; padding-left:20px;">
		<#form:checkbox name="formLayerModel" label="表单弹窗模式" class="form-control" data-style="square-blue"/>
		 &nbsp; &nbsp; &nbsp;
		<#form:checkbox name="tabPageModel" label="取消页签模式" class="form-control" data-style="square-blue"/>
	</li>
</ul>
<% } %>
<script>
$('.full-opacity-hover').click(function(){
	top.location = '${ctx}/switchSkin/' + $(this).data('skin');
});

$('#formLayerModel')
.iCheck(js.cookie('formLayerModel') == 'true' ? 'check' : 'uncheck')
.on('ifChecked', function(){
	js.cookie('formLayerModel', 'true');
}).on('ifUnchecked', function(){
	js.cookie('formLayerModel', 'false');
	$('#tabPageModel').iCheck('uncheck');
}).on('ifClicked', function(){
	setTimeout(function(){
		top.location.reload();
	},500);
});

$('#tabPageModel')
.iCheck(js.cookie('tabPageModel') == 'true' ? 'check' : 'uncheck')
.on('ifChecked', function(){
	js.cookie('tabPageModel', 'true');
	$('#formLayerModel').iCheck('check');
}).on('ifUnchecked', function(){
	js.cookie('tabPageModel', 'false');
}).on('ifClicked', function(){
	setTimeout(function(){
		top.location.reload();
	},500);
});
</script>