<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">

	<!-- Spring boot default -->
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	
	<!-- Console log output -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%logger{50}] - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- Level: FATAL 0  ERROR 3  WARN 4  INFO 6  DEBUG 7 -->
	<root level="WARN">
		<appender-ref ref="console" />
	</root>
	
	<!-- Framework level setting -->
	<include resource="config/logger-core.xml"/>
	
</configuration>