<% 
@servlet.getResponse().setStatus(404);

var message = @ObjectUtils.toString(@request.getAttribute("message"));

if (isBlank(message)){
	message = "您访问的页面不存在！";
}

// 下载文件不存在的异常，状态码设为正常
if (message == '文件已丢失或不存在！'){
	@servlet.getResponse().setStatus(200);
}

// 如果是异步请求或是手机端，则直接返回信息
if (@ServletUtils.isAjaxRequest(request)) {
	print(message);
}

// 输出异常信息页面
else {
%>
<% layout('/layouts/default.html', {title: '404 - 页面不存在'}){ %>
<link rel="stylesheet" href="${ctxStatic}/common/error.css?${_version}">
<div class="error-page">
	<div class="headline text-aqua mt20">404</div>
	<div class="error-content">
		<h3><i class="fa fa-warning text-aqua"></i> ${message}</h3>
		<p>可能是如下原因引起的这个错误：</p>
		<ul>
			<li>地址输入错误，链接已经失效过期.</li>
			<li style="word-break:break-all;word-wrap:break-word;">
				您访问的地址为：${
					@EncodeUtils.encodeHtml(
						@request.getAttribute('javax.servlet.forward.request_uri')
					)
				}</li>
			<li>若有疑问请联系管理员.</li>
			<li>......</li>
		</ul>
		<button type="button" class="btn btn-info btn-sm" onclick="history.go(-1);"><i
			class="fa fa-reply-all"></i> 返回上一页</button>
	</div>
	<div class="copyright">
		<% var productName = @Global.getConfig('productName'), productVersion = @Global.getConfig('productVersion'); %>
		版权所有 &copy; ${@DateUtils.getYear()} ${productName} - Powered By <a href="http://jeesite.com">JeeSite</a>.
	</div>
</div>
<% } %>
<% } %>