body { font-size:10.5pt; line-height:14pt; font-family:Î¢ÈíÑÅºÚ,Verdana,Arial,ËÎÌå; color: #000000; }
table { font-size:10.5pt; line-height:14pt; font-family:Î¢ÈíÑÅºÚ,Verdana,Arial,ËÎÌå; border-Collapse:Collapse; border-color:#999999; }
button { font-size:10.5pt; line-height:14pt; font-family:Î¢ÈíÑÅºÚ,Verdana,Arial,ËÎÌå}
select { font-size:10.5pt; line-height:14pt; font-family:Î¢ÈíÑÅºÚ,Verdana,Arial,ËÎÌå}

.blueTable { font-size:10.5pt; line-height:14pt; font-family:Î¢ÈíÑÅºÚ,Arial,Helvetica,ËÎÌå; border-Collapse:Collapse; border-color:#2269a0}
.programTable {	font-family:consolas,Verdana,Î¢ÈíÑÅºÚ,ËÎÌå; font-size:10.3pt; background-color:#f7f7d0; border-Collapse:Collapse; }
.funcTable { font-size:10.5pt; line-height:14pt; font-family:Î¢ÈíÑÅºÚ,consolas,Verdana,ËÎÌå; border-Collapse:Collapse; border-color:#999999; }
.ruleTable { font-family:Î¢ÈíÑÅºÚ,Verdana,Î¢ÈíÑÅºÚ,ËÎÌå; font-size:10.3pt; background-color:#ffffc4; border-Collapse:Collapse }

ruleTable td {  line-height:130%; }
.bBorder { border-bottom-width:1px;border-bottom-color:#000000;border-bottom-style:solid; }
p.StyleProgram
{
	background-color: #ffffbb;
	FONT-SIZE: 9pt;	
	Font-family: Î¢ÈíÑÅºÚ,ĞÂËÎÌå;
}
p.StyleTxt
{
	background-color: #ddffff;
	FONT-SIZE: 9pt;	
	Font-family: Î¢ÈíÑÅºÚ,ĞÂËÎÌå;
}
