.Wdate,.Wdate-date,.Wdate-datetime{background:#fff url(datePicker.png) no-repeat right;}
.Wdate-date{width:105px!important}.Wdate-datetime{width:147px!important}
.WdateFmtErr{font-weight:bold;color:red;}
.Wdate::-ms-clear{display:none;}